@model List<Candy>

<div class="row">

    @foreach (var eachCandy in Model)
    {
        <div class="col-md-4 col-sm-6 mb-4">

            <div class="card h-100 border-0 shadow">
                <img class="card-img-top" src="@eachCandy.ImgUrl" alt="@eachCandy.CandyName" />

                <div class="card-body">
                    <h5 class="card-title text-center">@eachCandy.CandyName</h5>
                    <h6 class="text-muted text-center mb-3">@eachCandy.CandyPrice</h6>
                    <p class="card-text text-center">@eachCandy.Description</p>
                </div>

                <div class="card-footer bg-transparent border-top-0">
                    <div class="text-center">
                        <a asp-controller="Home" asp-action="Details" asp-route-id="@eachCandy.CandyId" class="btn btn-outline-primary">Details</a>
                    </div>
                </div>

            </div>
        </div>
    }

</div>