@model List<Candy>

<h1 class="text-center my-4">Candies List</h1>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Candy Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Edit | Delete</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var eachCandy in Model)
            {
                <tr>
                    <td>@eachCandy.CandyName</td>
                    <td>@eachCandy.Description</td>
                    <td>$@eachCandy.CandyPrice</td>
                    <td>@eachCandy.CandyQty</td>

                    <td>
                        <a asp-controller="Book" asp-action="Edit" asp-route-id="@eachCandy.CandyId">Edit</a> |
                        <a asp-controller="Book" asp-action="Delete" asp-route-id="@eachCandy.CandyId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="text-center my-4">
    <a asp-controller="Candy" asp-action="Create" class="btn btn-success">Create New Candy</a>
</div>